<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Contacts
                <button routerLink="new" class="btn btn-success pull-right">New Contact</button>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <cms-contact-item
                            *ngFor="let contactEl of contacts"
                            [contact] = "contactEl"
                            (contactSelected) = "onSelected(contactEl)"></cms-contact-item>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
