<div class="row">
    <div class="col-xs-12">
        <div class="row">
            <h2 class="title pad-left-right" style="margin-left: 12px;">Inventory</h2>
        </div>
        <div class="panel panel-default">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="input-group pull-left pad-left-right col-xs-7"  style="margin-left: 16px;">
                                    <input type="text" class="form-control" #searchBox (keyup)="search(searchBox.value)" placeholder="Enter a search value">
                                    <div class="glyphicon glyphicon-search input-group-addon" (click)="search(searchBox.value)"></div>
                                </div>
                                <div class="pull-right pad-left-right" style="margin-right: 16px;">
                                    <a class="btn btn-success" [routerLink]="['new']">New Item</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <invt-item-item
                            *ngFor="let itemEl of items | itemsFilter:term"
                            [item] = "itemEl"
                            (itemSelected) = "onSelected(itemEl)"></invt-item-item>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
