<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row pad-left-right">
            <span class="pull-left title">Add Documents</span>
            <a class="btn btn-success pull-right">Add Document</a>
        </div>
    </div>
    <div class="panel-body">
        <div class="center-panel">
            <cms-document-item
                *ngFor="let documentItem of documentItems"></cms-document-item>
            <p>document list works!</p> <!--remove this when real content is added-->
            <cms-document-item></cms-document-item> <!--remove when there is content in the previous document item tag-->
        </div>
    </div>
</div>